{% extends 'base.html' %}

{% block navbar %}
<ul class="nav navbar-nav">
    <li><a href="{% url 'quizzes:index' %}">Home</a></li>
    {% if user.is_authenticated %}
    <li class="active"><a href="{% url 'quizzes:create' %}">Create</a></li>
    <li><a href="{% url 'quizzes:my_quizzes' %}">Your quizzes</a></li>
    {% endif %}
    <li><a href="{% url 'quizzes:quizzes' %}">Play</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
    {% if user.is_authenticated %}
    <p class="navbar-text"><span class=" glyphicon glyphicon-user"></span> {{ user.get_username }} </p>
    <li><a href="{% url 'logout' %}"><span class=" glyphicon glyphicon-log-out"></span> Logout</a></li>
    {% else %}
    <li><a href="{% url 'accounts:signup' %}"><span class=" glyphicon glyphicon-user"></span> Sign Up</a></li>
    <li><a href="{% url 'login' %}"><span class=" glyphicon glyphicon-log-in"></span> Login</a></li>
    {% endif %}
</ul>
{% endblock navbar %}

{% block content %}
<div class="container-fluid">

    {% if messages %}
    <ul style="color: #e4f4da;">
        {% for message in messages %}
        <li
                {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="jumbotron">
        <div class="page-header">
            <h2>
                Choose question type
            </h2>
        </div>

        <div class="row">
            <div class="col-sm-6">

                <a href="{% url 'questions:create_question_title' article_id=article_id question_id=question_id%}">
                    <button type="button" class="btn btn-primary btn-block">Basic</button>
                </a>
                <div class="jumbotron"> This kind of question consists of the beginning of your chosen Wikipedia article
                    with selected words removed. The title of the article will be the answer. In the next step, you will
                    choose which words need to be removed to make the question not too obvious.
                </div>
            </div>
            <div class="col-sm-6">
                <a href="{% url 'questions:create_question_type_stat' %}">
                    <button type="button" class="btn btn-primary btn-block">Statistics</button>
                </a>
                <div class="jumbotron"> This kind of question asks about the statistics collected by Wikipedia.
                    Currently creating this kind of questions is impossible.
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron">

        {% if user.is_authenticated %}

        <h3>Used article</h3>

        <p> Title: {{ title }} </p>

        <div class="jumbotron">
            {{ article }}
        </div>

        {% endif %}

    </div>
</div>
{% endblock content %}