{% extends 'base.html' %}

{% block navbar %}
<ul class="nav navbar-nav">
    <li><a href="{% url 'quizzes:index' %}">Home</a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'quizzes:create' %}">Create</a></li>
    <li class="active"><a href="{% url 'quizzes:my_quizzes' %}">Your quizzes</a></li>
    {% endif %}
    <li><a href="{% url 'quizzes:quizzes' %}">Play</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
    {% if user.is_authenticated %}
    <p class="navbar-text"><span class=" glyphicon glyphicon-user"></span> {{ user.get_username }} </p>
    <li><a href="{% url 'logout' %}"><span class=" glyphicon glyphicon-log-out"></span> Logout</a></li>
    {% else %}
    <li><a href="{% url 'accounts:signup' %}"><span class=" glyphicon glyphicon-user"></span> Sign Up</a></li>
    <li><a href="{% url 'login' %}"><span class=" glyphicon glyphicon-log-in"></span> Login</a></li>
    {% endif %}
</ul>
{% endblock navbar %}

{% block content %}
<div class="container-fluid">

    {% if messages %}
    <ul style="color: #e4f4da;">
        {% for message in messages %}
        <li
                {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="jumbotron">
        <h2>Questions from quiz {{ quiz.name }}</h2>
        <p>Here you can edit or delete questions.</p>
        <table class="table">
            <thead>
            <tr>
                <th>Type</th>
                <th>Answer</th>
                <th>Source</th>
                <th>Published</th>
                <th>Text</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            </tr>
            <tr>
                {% for question in questions %}
            <tr>
                <td> {{ question.type }}</td>
                <td> {{ question.answer }}</td>
                <td> {{ question.source_url }}</td>
                <td> {{ question.published_date }}</td>
                <td> {{ question.question_text }}</td>
                <td>
                    {% if question.type == "Title"%}
                    <a href="{% url 'questions:create_question_title' article_id=question.article_id question_id=question.id %}"
                       class="btn btn-default" role="button" name="edit_button">Edit</a>
                    {% else %}
                    <a href="{% url 'questions:create_question_type_stat' article_id=question.article_id question_id=question.id %}"
                       class="btn btn-default" role="button" name="edit_button">Edit</a>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'questions:delete_question' quiz_id=question.quiz.id question_id=question.id %}"
                       class="btn btn-danger" role="button" name="edit_button">Delete</a>
                </td>

            </tr>
            {% endfor %}
            </tr>
        </table>

        <ul class="pagination">
            {% if questions.has_previous %}
            <li><a href="?page={{ quizzes.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in questions.paginator.page_range %}
            {% if questions.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if questions.has_next %}
            <li><a href="?page={{ quizzes.next_page_number }}">&raquo;</a></li>
            {% else %}
            <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>

        <br/>
        <br/>
        <div class="text-right">
        <a href="{% url 'questions:questions' quiz_id=quiz.id %}">
            <button type="button" class="btn btn-default" id="user_quizzes">Questions list
            </button>
        </a>
        <a href="{% url 'questions:create_question' quiz_id=quiz.id %}">
            <button type="button" class="btn btn-default" id="add_next_question">Add next question
            </button>
        </a>
        </div>

    </div>
</div>
{% endblock content %}