{% extends 'base.html' %}

{% block navbar %}
<ul class="nav navbar-nav">
    <li><a href="{% url 'quizzes:index' %}">Home</a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'quizzes:create' %}">Create</a></li>
    <li><a href="{% url 'quizzes:my_quizzes' %}">Your quizzes</a></li>
    {% endif %}
    <li class="active"><a href="{% url 'quizzes:quizzes' %}">Play</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
    {% if user.is_authenticated %}
    <p class="navbar-text"><span class=" glyphicon glyphicon-user"></span> {{ user.get_username }}
    </p>
    <li><a href="{% url 'logout' %}"><span class=" glyphicon glyphicon-log-out"></span> Logout</a>
    </li>
    {% else %}
    <li><a href="{% url 'accounts:signup' %}"><span class=" glyphicon glyphicon-user"></span> Sign
        Up</a></li>
    <li><a href="{% url 'login' %}"><span class=" glyphicon glyphicon-log-in"></span> Login</a></li>
    {% endif %}
</ul>
{% endblock navbar %}

{% block content %}
<div class="container-fluid">
    <div class="jumbotron">
        <h2>Choose the quiz you want to play</h2>
        <p>Quizzes created by you can only be edited. If you want to try playing them, log out
            first.</p>

        {% include "filter_quiz.html" %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Author</th>
                <th>Category</th>
                <th>Topic</th>
                <th>Description</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            <tr>
                {% for quiz in quizzes %}
            <tr>
                <td> {{ quiz.id }}</td>
                <td> {{ quiz.name }}</td>
                <td> {{ quiz.author.username }}</td>
                <td> {{ quiz.category }}</td>
                <td> {{ quiz.topic }}</td>
                <td> {{ quiz.description }}</td>
                <td>
                    <a href="{% url 'quizzes:quiz' quiz_id=quiz.id %}" class="btn btn-default"
                       role="button">Play</a>
                </td>

            </tr>
            {% endfor %}
            </tr>
            </tbody>
        </table>

        <ul class="pagination">
            {% if quizzes.has_previous %}
            <li><a href="?page={{ quizzes.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in quizzes.paginator.page_range %}
            {% if quizzes.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if quizzes.has_next %}
            <li><a href="?page={{ quizzes.next_page_number }}">&raquo;</a></li>
            {% else %}
            <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock content %}