{% extends 'base.html' %}

{% block navbar %}
<ul class="nav navbar-nav">
    <li><a href="{% url 'quizzes:index' %}">Home</a></li>
    {% if user.is_authenticated %}
    <li class="active"><a href="{% url 'quizzes:create' %}">Create</a></li>
    <li><a href="{% url 'quizzes:my_quizzes' %}">Your quizzes</a></li>
    {% endif %}
    <li><a href="{% url 'quizzes:quizzes' %}">Play</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
    {% if user.is_authenticated %}
    <p class="navbar-text"><span class=" glyphicon glyphicon-user"></span> {{ user.get_username }}
    </p>
    <li><a href="{% url 'logout' %}"><span class=" glyphicon glyphicon-log-out"></span> Logout</a>
    </li>
    {% else %}
    <li><a href="{% url 'accounts:signup' %}"><span class=" glyphicon glyphicon-user"></span> Sign
        Up</a></li>
    <li><a href="{% url 'login' %}"><span class=" glyphicon glyphicon-log-in"></span> Login</a></li>
    {% endif %}
</ul>
{% endblock navbar %}

{% block content %}

<div class="container-fluid">
    {% if messages %}
    <ul style="color: #e4f4da;">
        {% for message in messages %}
        <li
                {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="jumbotron" id="jumbotrone_1">

        {% if user.is_authenticated %}

        <h2>
            Write down part of the question which needs to be hidden from the player in order to
            make it not painfully easy. For example, if the answer is "Pizza", you should probably
            erase all "pizza"s from the question. Just enter the word (or phrase) and click
            "Replace".
        </h2>

        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            {{ chooser.as_p }}

            <div class="container">
                <input type="submit" value="Replace"/>
            </div>

        </form>

        {% else %}
        <div class="container">
            <div class="alert alert-danger">
                This page is available only for logged users.
            </div>
            <div class="text-center">
                <h1 class="glyphicon glyphicon-lock"></h1>
            </div>
        </div>
        {% endif %}

    </div>

    <div class="jumbotron" id="jumbotrone_2">

        {% if user.is_authenticated %}

        <h3>Found article </h3>

        <p> <strong> Title - future question answer:</strong> {{ title }} </p>
        <p> <strong> Source url:</strong> {{ source_url }} </p>

        <div>
            <strong> Article - future question:</strong> {{ article }}
        </div>
        <br/>
        <br/>
        <div class="text-right">
        <a href="{% url 'quizzes:questions' quiz_id=quiz_id %}">
            <button type="button" class="btn btn-default" id="user_quizzes">Questions list
            </button>
        </a>
        <a href="{% url 'quizzes:create_question' quiz_id=quiz_id %}">
            <button type="button" class="btn btn-default" id="add_next_question">Add next question
            </button>
        </a>
        </div>

        {% endif %}

    </div>

</div>
{% endblock content %}