{% extends 'base.html' %}

{% block navbar %}
<ul class="nav navbar-nav navbar-right">
    {% if user.is_authenticated %}
    <p class="navbar-text"><span class=" glyphicon glyphicon-user"></span> {{ user.get_username }} </p>
    {% endif %}
</ul>
{% endblock navbar %}

{% block content %}
<div class="container-fluid">
    <div class="jumbotron">
       <div class="basic">
            Unfortunately, this operation has resulted in an error. You may need to try again. If the problem persist even after trying again from the home page, please contact the site administrators with as much information about the problem as you can gather.
        </div>
    </div>
</div>
{% endblock content %}