{% extends 'base.html' %}

{% block navbar %}
<ul class="nav navbar-nav">
    <li class="active"><a href="{% url 'quizzes:index' %}">Home</a></li>
    <li><a href="{% url 'quizzes:create' %}">Create</a></li>
    <li><a href="{% url 'quizzes:my_quizzes' %}">Your quizzes</a></li>
    <li><a href="{% url 'quizzes:quizzes' %}">Play</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
    {% if user.is_authenticated %}
    <li><a href="{% url 'logout' %}"><span class=" glyphicon glyphicon-log-out"></span> Logout</a></li>
    {% else %}
    <li><a href="{% url 'accounts:signup' %}"><span class=" glyphicon glyphicon-user"></span> Sign Up</a></li>
    <li><a href="{% url 'login' %}"><span class=" glyphicon glyphicon-log-in"></span> Login</a></li>
    {% endif %}
</ul>
{% endblock navbar %}

{% block content %}
<div class="container-fluid">
    <div class="jumbotron">
        <div class="page-header">
            <h1>
                Quizzes
            </h1>
        </div>
    </div>
    <div class="well well-lg">
        <p class="lead">If you like having your knowledge tested and helping others to do so, you're in a right
            place! Here you can create and solve various quizzes on topics limited only by the imagination of our
            users.</p>
        <p class="lead">There's a catch, though: creating a quiz doesn't mean just typing in a question and an answer.
            Our quizzes are based on the knowledge treasure trove that is Wikipedia. How does it work? <a
                    href="{% url 'accounts:signup' %}">Create an account</a> if you haven't already, <a
                    href="{% url 'login' %}">log in</a> and try to <a href="{% url 'quizzes:create' %}">make a quiz</a>
            yourself - or, if you'd rather stay a stranger for a while, <a href="{% url 'quizzes:quizzes' %}">solve one
                of the quizzes</a> that are already available.</p>
        <p class="lead">Whatever you decide to do - have fun!</p>
    </div>
</div>
{% endblock content %}