{% extends 'base.html' %}

{% block navbar %}

<ul class="nav navbar-nav navbar-right">
    {% if user.is_authenticated %}
    <p class="navbar-text"><span class=" glyphicon glyphicon-user"></span> {{ user.get_username }} </p>
    {% endif %}
</ul>
{% endblock navbar %}

{% block content %}
<div class="container-fluid">
    <div class="jumbotron">Write the correct answer under each question.
    </div>
    <form method="POST">
        {% csrf_token %}
        {% for form in formset %}
        <div class="jumbotron">
            <input type="hidden" name="next" value="{{ next }}">
            {{ form.initial.question.question_text }} <br/><br/>
            {{ form.as_p }}
        </div>
        {{ formset.management_form }}
        {% endfor %}
        <div class="jumbotron">
            <div class="container">
                <input type="submit" value="Check results"/>
            </div>
        </div>
    </form>
</div>
{% endblock content %}