{% extends 'base.html' %}

{% block navbar %}
<ul class="nav navbar-nav">
    <li><a href="{% url 'quizzes:index' %}">Home</a></li>
    <li><a href="{% url 'quizzes:create' %}">Create</a></li>
    <li><a href="{% url 'quizzes:my_quizzes' %}">Your quizzes</a></li>
    <li><a href="{% url 'quizzes:games' %}">Play</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'quizzes:sign_up' %}"><span class=" glyphicon glyphicon-user"></span> Sign Up</a></li>
    <li><a href="{% url 'quizzes:log_in' %}"><span class=" glyphicon glyphicon-log-in"></span> Login</a></li>
</ul>
{% endblock navbar %}

{% block content %}
<div class="container">
    <div class="alert alert-info">
        This page is currently not available. Works in progress.
    </div>
    <div class="text-center">
        <h1 class="glyphicon glyphicon-lock"></h1>
    </div>
</div>
{% endblock content %}


