{% extends 'base.html' %}

{% block navbar %}
<ul class="nav navbar-nav">
    <li><a href="{% url 'quizzes:index' %}">Home</a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'quizzes:create' %}">Create</a></li>
    <li class="active"><a href="{% url 'quizzes:my_quizzes' %}">Your quizzes</a></li>
    {% endif %}
    <li><a href="{% url 'quizzes:quizzes' %}">Play</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
    {% if user.is_authenticated %}
    <li><a href="{% url 'logout' %}"><span class=" glyphicon glyphicon-log-out"></span> Logout</a></li>
    {% else %}
    <li><a href="{% url 'accounts:signup' %}"><span class=" glyphicon glyphicon-user"></span> Sign Up</a></li>
    <li><a href="{% url 'login' %}"><span class=" glyphicon glyphicon-log-in"></span> Login</a></li>
    {% endif %}
</ul>
{% endblock navbar %}

{% block content %}
<div class="container-fluid">
    <div class="jumbotron">

        {% if user.is_authenticated %}
        <h2>User quizzes</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Topic</th>
                <th>Description</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tr>
                {% for quiz in quizzes %}
            <tr>
                <td> {{ quiz.id }}</td>
                <td> {{ quiz.name }}</td>
                <td> {{ quiz.category }}</td>
                <td> {{ quiz.topic }}</td>
                <td> {{ quiz.description }}</td>
                <td>
                    <a href="{% url 'quizzes:quiz' quiz_id=quiz.id %}" class="btn btn-default" role="button">Edit</a>
                </td>
            </tr>
            {% endfor %}
            </tr>
        </table>
        {% else %}
        <div class="container">
            <div class="alert alert-danger">
                This page is available only for logged users.
            </div>
            <div class="text-center">
                <h1 class="glyphicon glyphicon-lock"></h1>
            </div>
        </div>
        {% endif %}


    </div>
</div>
{% endblock content %}